/* Colors */

:root {
  --PrimaryColor: #6EFAFB;
  --HooverColor: #FFDB58;
  --greyColor1: #222629;
  --greyColor2: #292E32;
  --greyColor3: #cccccc;
  --blackColor: #1C1F22;
  --buttonColor: linear-gradient(90deg, #FAFF00 0%, #00ACB1 100%);
//   --box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}

