@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Colors */

:root {
  --PrimaryColor: #7aa0c4;
  --HooverColor: #FFDB58;
  --greyColor1: #222629;
  --greyColor2: #292E32;
  --greyColor3: #cccccc;
  --blackColor: #1C1F22;
  --whiteColor: #ffffff;
  --buttonColor: linear-gradient(90deg, #FAFF00 0%, #00ACB1 100%);
  /* --box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45); */
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem; 
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    padding: .4rem 1.5rem;
    border-radius: 3rem;
    background:  var(--HooverColor);
    cursor: pointer;
    border: none;
}

.btn.link {
    color: var(--greyColor1);
    font-weight: 500;
}

.btn:hover.link{
    background: var(--HooverColor);
}

.secIntro {
    max-width: 70%;
    text-align: center;
    margin: 0 auto 2rem;
}

.secIntro .secTitle {
    color: var(--blackColor);
    line-height: 1.5rem;
    padding-bottom: .5rem;
}

 .secIntro p {
    font-size: 13px;
    color: var(--greyColor2);
    font-weight: 500;
 }

 img, video {
    width: 100%;
    height: auto;
 }

 input {
    font-size: 100%;
 }
 
@media screen and (min-width: 556px) {
  .mainContent, .singlePost {
      grid-template-columns: repeat(2, 1fr);
      
  }

}


@media screen and (min-width: 884px) {
  .mainContent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1240px) {
  .container{
    width: 75% !important;
    margin: auto !important;
  }

  .section{
    padding: 5rem 0 2rem;
  }

  .secIntro{
    margin: 0 auto 3rem;
  }

  .secIntro, .secTitle{
    line-height: 2rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
  }
  
  .secIntro p{
    font-size: 15px;
  }

}

@media screen and (min-width: 2540) {
  body{
    zoom: 1.7
  }
  
}

::selection{
  background: var(--HooverColor);
  color: var(--whiteColor);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--greyColor3);
}

::-webkit-scrollbar-thumb {
  background: var(--HooverColor);
  border-radius: 10px;
  cursor: pointer;
} 